{% load static %}




<!-- Navbar  -->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="{% static 'pictures/logo.png' %}">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Customers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Orders</a>
      </li>
    </ul>
    </div>
  <span class="btn btn-sm btn-info"><i class="fas fa-key"></i>Salut, {{request.user}}  </span>
  <!--<span> Salut, {{request.user}} </span>-->
  <span> <br><br><br><a href="{% url 'logout'%}"> Logout </a></span></nav><br/><br/><br/>
  </nav>
  <div>
</nav>

<!-- Navbar  -->
