
{% extends 'main.html'%}


{% block content %}


<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Customer:</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="">Modify Customer</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" href="">Delete Customer</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Informations</h5>
			<hr>
			<p>Name: {{ customer.name }}</p>
			<p>Phone: {{ customer.phone }}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Order Total</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px"> {{order_count}}</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">

		    <button class="btn btn-primary" type="submit">Search</button>
				{{thefilter.form}} <!--double curly brackets to display a variable-->
		  </form>
		</div>
	</div>

</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Purchase Order Date</th>
					<th>Status</th>
					<th>Update</th>
					<th>Delete</th>
				</tr>

				{% for order in order %}

				<tr>
					<th>{{order.product}}</th>

					<th>{{order.date_creation}}</th>
					<th>{{order.status}}</th>
					<th><a href="">udpate</a> </th> <!--link-->
					<th><a href="">delete</a></th> <!--link-->
				</tr>


				{% endfor %}



			</table>
		</div>
	</div>
</div>







{% endblock %}