
{% extends 'main.html'%}


{% block content %}




<br>
<div class="row">
	<div class="col-md-5">
		<h5>Customers:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Create Customer</a>
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Customer</th>
					<th>Phone</th>
					<th>Details</th>

				</tr>
				{% for customer in customers %} <!-- for customer in my key created previously-->
				<tr> <!-- tr here marks the end on each line-->
				<th> <a href="{% url 'customer' customer.id %}">{{customer.id}}<a/></th>
				<th> {{customer.name}}</th>
				<th> {{customer.phone}}</th>
				<th> <a class='btn btn-sm btn-info' href="{% url 'customer' customer.id %}">Details<a/></th>

				</tr>


				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5> All Orders </h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'add_order' %}">Add Order</a>
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Order date</th>
					<th>Status</th>
					<th>Creation date</th>
					<th>Update</th>
					<th>Delete</th>
				</tr>
				{% for order in orders %}
				<tr>
					<th> {{order.product}}</th> <!-- here i.<object_from_class> -->
					<th> {{order.date_creation}}</th> <!-- double tags is mandatory> -->
					<th> {{order.status}}</th> <!-- here take status the object with data and not the tuple STATUS-->
					<th> {{order.date_creation}}</th>
					<th> <a class='btn btn-sm btn-success' href="{% url 'modify_order' order.id  %}">Modify<a/> </th>
					<th> <a class='btn btn-sm btn-danger' href="{% url 'delete_order' order.id %}"> Delete <a/> </th>


				</tr>
				{% endfor %}

			</table>
		</div>
	</div>

</div>













{% endblock %}
