
{% extends 'main.html'%}


{% block content %}

<div class="row">
    <div class="col-md-12" >
        <div class="card card-body">

<p>Do you want to delete this order ?</p>
<form action="{% url 'delete_order' item.id %}" method="post">
    {%csrf_token%}
    <a class="btn btn-warning" href="{% url 'home' %}"> Cancel </a>
    <input class="btn btn-danger" type="submit" value="Send" name="Confirm">

    </div>
    </div>
        </div>

</form>
{% endblock %}